<div class="card text-center rounded">
    <div class="card-header text-white" [style.background-color]="cv.prefColor">
        <img [src]="cv.avatar" class="rounded-circle img-thumbnail" alt="Avatar" width="200">
    </div>
    <div class="card-body">
        <h4 class="card-title fw-bold">{{cv.nom}} {{cv.prenom}}</h4>
        <p class="text-muted">{{cv.age}} ans</p>
        <h5 class="text-secondary">{{cv.profession}}</h5>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-light w-100">Auto Rotation</button>
    </div>
</div>
